@media (max-width: 666px) {
  .performance__inner {
    height: calc(100vh - 600px);
    min-height: 250px;
  }
  .font_white {
    font-size: 12px;
  }
}
.font_white {
  font-size: 35px;
  padding-bottom: 60px;
  width: 100%;
  color: #fff !important;
}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 0px 0;
}
